<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>test</title>
       <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
        <div class="zero">
        <h1>내 블로그에 오신걸 환영합니다</h1>
        <a href="#">홈</a>
        <a href="#">소개</a>
        <a href="#">연락처</a>
    </div>
   
        <div class="제목1">
        <h3>블로그 글 제목 1</h3>
    
        <p>첫번째 블로그 내용입니다 저희는 많은 정보를 가지고있습니다</p>
        <a href="#">더보기</a>
    </div>
    <div class="제목3">
    <div class="제목2">
        <h3>블로그 글 제목2</h3>
       
        <p>여기는 소통하고 정보를 나누는 공간입니다</p>
        <a href="#">더보기</a>
    </div>
        <h2>소개</h2>
       
        <p>안녕하세요 저희 블로그에 오신걸 환영합니다~~**</p>

    </div>
    
       
    <h2>방문자 의견 </h2>
    <form "action"/bolg/comment">
    <div class="이름">이름 :
        
    <input type="text" id="이름" name="commentName">
    <br>
</div>
<div class="의견">의견 :
    <input type="text" id="의견" name="commentOpinion">
</div>
    <br>
    <button type="submit" onclick="제출">제출</button>

    <footer>&copy;2024 블로그 내 모든 권리 소유</footer>
</form>

    </body>
</html>