<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>카페 메인</title>
</head>
<body>
	<header>
	<h1>카페에 오신걸 환영합니다</h1>
	<nav>
	<ul>
		<li><a href="home">맨 앞으로 돌아가기</a></li>
		<li><a href="blog/blog-index">블로그 메인으로 돌아가기</a></li>
		<li><a href="cafe/cafe-board">카페 메인으로 돌아가기</a></li>
	</ul>
	</nav>
	</header>
	<div class="container">
	<!-- 소개 섹션 -->
	<div class ="intro">
		<h2>소개</h2>
		<p>우리카페는 좋아요
		</p>
	</div>
	<!-- 메뉴 공간 -->
	<div class="menu">
		<h2>메뉴</h2>
		<ul>
			<li>아메리카노 3000원</li>
			<li>카페라떼 3500원</li>
			<li>카푸치노 4000원</li>
		</ul>
	</div>
	<!-- 위치 섹션 -->
	<div class="location">
	<h2>위치</h2>
	<p>서울특별시 강남구</p>
	<p>18:00~20:00</p>
	<p>카페회원만 이용가능</p>
	
	</div>
	<!-- 사이드바 섹션 -->
	<div class="sidebar">
	<p>매주 금요일 음료할인</p>
	</div>
	<!-- 방문자의견섹션 -->
	<div class="visitor-comment">
		<h2>방문자의견</h2>
		<form "action"/cafe/comment">
			<label>이름:</label>
			<input type="text" name="cafecommentName"required>
			<br>
			<label>의견:</label>
			<input type="text" name="cafecommentName"required>
			<br>
			
			<button>작성하기</button>
		</form>
	
	</div>
	
	
	</div>
	
	

</body>
</html>











