<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>정적자원 (js,css,html )연결</title>
<link rel = "stylesheet" href="css/ex.css">
</head>
<body>

	<!-- link 연결 script 파일 구분지어 연결 
	반려사진 3 장 띄어주기 
	background-color : lightpink
	ex.js -> jquery 이용해서 버튼클릭하기 만들기
	-->
	<h1>정적자원을 연결하는 곳 입니다</h1>
	
	<div class="container">
	 	<!-- static 폴더 기준으로 image파일 경로작성하기 -->
	 	<img src="/image/marley (1).jpg">
	 	<img src="/image/hogam (1).jpg">
	 	<img src="/image/healing (1).jpg">
	 	
	 	<button id="btn">연결 테스트</button>
	 	
	 	
	 	<script src ="/js/ex.js"></script>
	 	
	</div>
		
</body>
</html>