<!DOCTYPE html>
<html xmlns:th="htttp://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>ThymeLeaf</title>
</head>
<body>
	<h1>ThymeLeaf</h1>

	<h3>템플릿 엔진</h3>

	<pre>
	템플릿 양식과 특정 데이터 모델에따른 입력자료를 합성하여 
	결과문서(응답화면)을 출력하는것 
	
	-->만들어둔 화면(html)에 데이터를 추가하여 html로응답
	(jsp 템플릿 엔진 중 하나)
	<a href ="https://www.thymeleaf.org/">ThymeLeaf홈페이지 이동하기</a>
	</pre>

	<h3>2.ThymeLeaf</h3>
	<pre>
	웹 및 독립 실행형 환경 모두를 위한 최신 서버 측 java템플릿 엔진
	->웝 실행== 요청시 포워드 되는 화면 
	-->독립실행 ==html 파일 실행(인터넷연결x)
	
	html 파일에서 th (ThymeLeaf)속성을 이용해 
	컨트롤러에서 전달받은 데이터로 동적페이지 만들기 가능 
	
	Spring boot 에서는 jsp가아닌 ThymeLeaf사용을 권장함
	
	[사용 예제]
	html에서 
	<html xmlns:th="htttp://www.thymeleaf.org">작성후 사용가능</html>
	<!-- th=별칭 주소를 th에 담아서 따로 사용 -->
	</pre>

	<ol>
		<li><a href="/example/ex1">타임리프 예제</a>
		</li>
		<li>
			<form action="/example/ex2" method="post">
			<h4>타임리프예제</h4>
			이름 : <input type="text" name="inputName">
			나이 : <input type="number" name="inputAge">
			
			<br>
			
			색상:
			RED<input type="checkbox"name="color" value="Red">
			RED<input type="checkbox"name="color" value="Green">
			RED<input type="checkbox"name="color" value="Blue">
			
			<button>제출하기</button>
			
			<li>
				<a href="/example/ex3">타임리프예제3</a>
			</li>
		
		
	</ol>

	


</body>
</html>
















